@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "@/styles/components.css";
@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-dmsans: "DM Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;

    --color-gray-20: #F8F4EB;
    --color-gray-50: #EFE6E6;
    --color-gray-100: #DFCCCC;
    --color-gray-500: #5E0000;

    --color-primary-100: #FFE1E0;
    --color-primary-300: #FFA6A3;
    --color-primary-500: #FF6B66;

    --color-secondary-400: #FFCD5B;
    --color-secondary-500: #FFC132;

    --content-evolvetext: url("./assets/EvolveText.png")

    --breakpoint-*: initial;
    /* Сброс стандартных брейкпоинтов */
    --breakpoint-xs: 30rem;
    /* 480px */
    --breakpoint-sm: 48rem;
    /* 768px */
    --breakpoint-md: 66.25rem;
    /* 1060px */
}

html,
body,
#root,
.app {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: var(--font-dmsans);
}